<app-libris-toolbar></app-libris-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item style="color: white;">
        <mat-icon aria-hidden="false" aria-label="list">sort</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">List</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="[ '/categories']">
            Categories
          </button>
          <button mat-menu-item [routerLink]="[ '/ressources']">Ressources</button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
