<app-libris-toolbar></app-libris-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item style="color: white;">
        <mat-icon aria-hidden="false" aria-label="list">sort</mat-icon> List </mat-list-item>
      <mat-list-item style="color: white;">
        <mat-icon aria-hidden="false" aria-label="add">add_box</mat-icon> Créer </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
