mat-sidenav
{
  height: 100%;
  width: 20%;
}
mat-sidenav-content
{
  height: 100%;
  width: 80%;
}
.example-container {
  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(184, 211, 247);
}
