.mat-elevation-z8
{
  margin-left: 5%;
  margin-top: 5%;
  background-color: #181E26;
}
button,mat-card-title{
  color: white;
}
mat-card
{
  margin-left: 5%;
  margin-top: 5%;
  background-color: #181E26;
  width: 12%;
  height: auto;
  float: left;
}
button{
  background-color: #68748C;
}
